.container-header header{
    width: 100%;
    max-width: 1024px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
}

.container-header header h1{
    color: var(--color-second);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.container-header header nav{
    display: flex;
    align-items: center;
}

.container-header header nav a{
    color: var(--color-second);
    font-size: 18px;
    padding: 5px 20px;
    text-decoration: none;
    transition: color 0.2s;
}

.container-header header nav a:hover {
    color: var(--color-third);
}

.container-header header nav a button{
    height: 40px;
    min-width: 100px;
    width: 100%;
    text-align: center;
    color: var(--color-primary);
    background-color: var(--color-second);
    border: 0;
    border-radius: 8px;
    transition: color 0.2s;
    transition: background-color 0.2s;
}

.container-header header nav a button:hover {
    background-color: var(--color-third);
    color: var(--color-second);
}

#index {
    width: 100%;
    background: url(./assets/404.svg) no-repeat center;
    background-size: 850px 300px;
    background-position-y: 160px;
}

.container-middle {
    width: 100%;
    margin: 150px 0 100px 0;
    text-align: center;
}

.container-header h1{
    font-size: 45px;
    color: var(--color-third);
}

.container-header h3{
    font-size: 25px;
    font-weight: 400;
    margin-top: 20px;
    color: var(--color-third);
}

.container-header .container-middle button{
    height: 40px;
    width: 220px;
    margin-top: 80px;
    color: var(--color-third);
    font-weight: 700;
    text-align: center;
    border: 0;
    background-color: var(--color-second);
    border-radius: 4px;
    cursor: pointer;
    transition: filter 0.2s;
}

.container-header .container-middle button:hover{
    filter: brightness(0.94);
}

.container-header .container-middle a{
    text-decoration: none;
}

.container-header .container-middle h2{
    margin-top: 20px;
    font-weight: 700;
    color: var(--color-third);
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.2s;
}

.container-header .container-middle h2:hover{
    opacity: 1;
}

.container-socialmedia {
    margin-top: 100px;
    max-width: 1024px;
    margin: 8px auto;
    color: var(--color-second);
    display: flex;
    align-items: center;
}

.container-socialmedia i{
    margin-left: 15px;
}

.container-footer {
    width: 100%;
    max-width: 1024px;
    height: 50px;
    margin: 0 auto;
    border-top: 2px dashed var(--color-second);
}

.container-footer p{
    color: var(--color-second);
    font-weight: 400;
    padding: 20px 0;
    line-height: 10px;
}

/* Play Page */

.container-play {
    display: block;
    text-align: center;
    margin: 50px auto;
}

.container-play .round-counter{
    font-size: 30px;
    color: var(--color-third);
    margin-bottom: 60px;
}

.players {
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-right: 90px;
}

.players img{
    width: 150px;
    height: 150px;
}

.players h1{
    font-size: 100px;
    color: var(--color-third);
    opacity: 0.4;
    margin-bottom: 80px;
}

.players h3{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    opacity: 0.4;
    color: var(--color-third);
}

.players .user-player ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
}

.players .user-player ul li{
    margin-left: 20px;
}

.players .user-player ul li button{
    width: 100%;
    background-color: #FFF;
    padding: 10px;
    border: 0;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    transition: filter 0.2s;
}

.players .user-player ul li button:hover{
    filter: opacity(0.9);
}

.players .user-player ul li button img{
    width: 50px;
    height: 50px;
}

.players .user-player ul li p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;
}


.players .ai-player {
    margin-bottom: 80px;
} 



